
@{
    Layout = null;
    if (Session["Account"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Dashboard主畫面</h1>
        <br>
        @Html.ActionLink("Item Page", "Index", "Item")<br><br>
        @Html.ActionLink("Member Page", "Index", "Member")<br><br>
        @Html.ActionLink("Monster Page", "Index", "Monster")<br><br>
        @Html.ActionLink("Treasure Page", "Index", "Treasure")<br><br>
        
        <a href="@Url.Action("LogOut","Home")">會員登出</a>
    </div>
</body>
</html>
